<!DOCTYPE html>
<html>
<head>
	<title>Demo ReactJS</title>

	<!-- https://cdnjs.com/libraries/react -->
	<script src="lib/react.js"></script>
	<script src="lib/react-dom.js"></script>
	
	<script src="lib/browser.min.js"></script>
	<style>
		.mauxanh { 
			background-color: lightgreen;
		}
	</style>
</head>
<body>
	<div id="root"></div>
	<hr>
	<div id="root1"></div>

	<script src="example1.js" type="text/babel"></script>
</body>
</html>