<!DOCTYPE html>
<html>
<head>
	<title>Demo ReactJS</title>

	<!-- https://cdnjs.com/libraries/react -->
	<script src="lib/react.js"></script>
	<script src="lib/react-dom.js"></script>
	
	<script src="lib/browser.min.js"></script>
	<style>
		.mauvang { 
			background-color: lightgreen;
		}
	</style>
</head>
<body>
	<div id="root"></div>
	
	<script type="text/babel">				
		ReactDOM.render( 
			<div>
				<h1> I am inside the bable </h1> 
				<h2 className="mauvang"> Hallo leuter </h2>	
			</div>
			
			,document.getElementById('root')
		);

	</script>
</body>
</html>