<!DOCTYPE html>
<html>
<head>
	<title>Demo ReactJS</title>

	<!-- https://cdnjs.com/libraries/react -->
	<script src="lib/react.js"></script>
	<script src="lib/react-dom.js"></script>
	
	<script src="lib/browser.min.js"></script>
	<link href="css/layout.css" rel="stylesheet" >
	<script src="lib/jquery-3.3.1.min.js" ></script>
</head>
<body>
	<div id="root"></div>
	<hr>
	<div id="root1"></div>

	<script src="example6.js" type="text/babel"></script>
</body>
</html>